<!DOCTYPE html>
<html lang="zh-cmn-hans">
  <head>
    {% include 'header.html' %}
  </head>
  <body>

    {% include 'admin/nav.html' %}

    <div class="container">

    {% if error %}
        <div class="alert alert-success">{{ error }}</div>
    {% endif %}

    <form  class="form-horizontal" id="addGoodForm" method="post" action="{{ url_for('admin.add_good_do') }}" role="form" onsubmit="return addGoodValidateForm();" >
        <div class="row form-group">
          <label class="col-xs-2">可选类别</label>
          <div class="row col-xs-10 cl-hs-category-ratios">
              {% for c in catalogs %}
              <div class="col-xs-2 cl-hs-category-ratio-item">
                  <label class="radio-inline">
                      <input type="radio" name="catalogid" value="{{ c.catalogid }}"><span>{{ c.name }}</span>
                  </label>
              </div>
              {% endfor %}
              <div class="col-xs-2 cl-hs-category-ratio-addition-button">
                  <button type="button" class="btn btn-default" onclick="hsAddNewCategory()">添加新类别</button>
              </div>
          </div>
      </div>

      <div class="row form-group">
          <label class="col-xs-2" for="inputName">商品名称</label>
          <div class="col-xs-4 input-group">
              <input name="name" type="text" class="form-control" id="inputName" placeholder="请输入商品名">
          </div>
      </div>

      <div class="row form-group">
          <label class="col-xs-2" for="inputPrice">商品价格</label>
          <div class="col-xs-4 input-group">
              <span class="input-group-addon">￥</span>
              <input name="price" type="text" class="form-control" id="inputPrice" placeholder="请输入价格">
          </div>
      </div>
      <div class="row form-group">
          <label class="col-xs-2" for="inputTotal">商品库存</label>
          <div class="col-xs-4 input-group">
              <input name="total" type="text" class="form-control" id="inputTotal" value="999999" placeholder="请输入库存">
          </div>
      </div>
      <div class="row form-group">
          <label class="col-xs-2" for="inputDescription">商品说明</label>
          <div class="col-xs-4 input-group">
              <textarea rows="5" name="description" class="form-control" id="inputDescription" placeholder="请输入商品描述"></textarea>
          </div>
      </div>
      <input type="hidden" name="_csrf_token_" value="{{ csrf_token() }}">

      <button class="btn btn-primary">提交</button>
    </form>


    </div>

  {% include 'footer.html' %}
  <script>
      window.onload = function () {
          document.getElementById("id-hs-add-good").className += " active";
      };

      function hsAddNewCategory() {
          var p = prompt("输入新的类别：");
          if (p!=null && p!="") {
              $.post(
                "{{ url_for('ajax.admin.add_new_category') }}",
                { _csrf_token_: "{{ csrf_token() }}", name: p},
                function (data, textStatus) {
                    if (data.status != 0){
                        alert(data.error);
                        return
                    }
                    var firstratio = $(".cl-hs-category-ratios div:first-child").clone();
                    firstratio.children("label").children('input').attr('value', data.data.catalogid).attr('checked', true);
                    firstratio.children("label").children("span").text(data.data.name);

                    $(".cl-hs-category-ratio-addition-button").before(firstratio);

                }
              );
          }
      }

      // $("#addGoodForm").fadeOut("slow");
      function addGoodValidateForm() {
        if (!document.getElementById("inputName").value) {
            alert("输入名字！");
            return false;
        }

        if ($( "input:checked" ).length != 1) {
            alert("请选择一个类别！");
            return false;
        }

        if (!document.getElementById("inputPrice").value) {
            alert("输入价格！");
            return false;
        }

        return true;
      }

  </script>
  </body>
</html>

