<!DOCTYPE html>
<html lang="zh-cmn-hans">
  <head>
    {% include 'header.html' %}

    <link href="{{ url_for('static', filename='css/jasny-bootstrap.min.css') }}" rel="stylesheet">
  </head>
  <body>

    {% include 'admin/nav.html' %}

    <div class="container">

    {% if error %}
        <div class="alert alert-success">{{ error }}</div>
    {% endif %}

    <form  class="form-horizontal" id="addGoodForm" method="post" action="{{ url_for('admin.add_good_do') }}" role="form" onsubmit="return addGoodValidateForm();" >
        <div class="row form-group">
          <label class="col-xs-2">可选类别</label>
          <div class="row col-xs-10 cl-hs-category-ratios">
              {% for c in catalogs %}
              <div class="col-xs-2 cl-hs-category-ratio-item">
                  <label class="radio-inline">
                      <input type="radio" name="catalogid" value="{{ c.catalogid }}"><span>{{ c.name }}</span>
                  </label>
              </div>
              {% endfor %}
              <div class="col-xs-2 cl-hs-category-ratio-addition-button">
                  <button type="button" class="btn btn-default" onclick="hsAddNewCategory()">添加新类别</button>
              </div>
          </div>
      </div>

      <div class="row form-group">
          <label class="col-xs-2" for="inputName">商品名称</label>
          <div class="col-xs-4 input-group">
              <input name="name" type="text" class="form-control" id="inputName" placeholder="请输入商品名">
          </div>
      </div>

      <div class="row form-group">
          <label class="col-xs-2" for="inputPrice">商品价格</label>
          <div class="col-xs-4 input-group">
              <span class="input-group-addon">￥</span>
              <input name="price" type="text" class="form-control" id="inputPrice" placeholder="请输入价格">
          </div>
      </div>
      <div class="row form-group">
          <label class="col-xs-2" for="inputTotal">商品库存</label>
          <div class="col-xs-4 input-group">
              <input name="total" type="text" class="form-control" id="inputTotal" value="999999" placeholder="请输入库存">
          </div>
      </div>
      <div class="row form-group">
          <label class="col-xs-2" for="inputDescription">商品说明</label>
          <div class="col-xs-4 input-group">
              <textarea rows="5" name="description" class="form-control" id="inputDescription" placeholder="请输入商品描述"></textarea>
          </div>
      </div>


      <div class="row form-group" id="hsGoodPhotoList">
          <label class="col-xs-2" for="inputDescription">商品图片</label>
      <div class="fileinput fileinput-new" data-provides="fileinput" id="hsFileInput-1">
  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
  <div>
    <span class="btn btn-default btn-file">
        <span class="fileinput-new">选择图片</span>
        <span class="fileinput-exists">重新选择</span>
        <input type="file" class="hsUploadPhotoInput">
        <input type="hidden" class="hsUploadPhotoName">
    </span>
    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">删除</a>
  </div>
</div>
      </div>

      <input type="hidden" name="_csrf_token_" value="{{ csrf_token() }}">
      <input type="hidden" name="photos" value="" id="hsPhotoNames">

      <button class="btn btn-primary">提交</button>
    </form>

    </div>


  {% include 'footer.html' %}
  <script src="{{ url_for('static', filename='js/jasny-bootstrap.min.js') }}"></script>
  <script>
        var MAX_PHOTOS_NUMBER = 3;
        var current_index = 1;
        var fileInputTemplte = $('#hsFileInput-1');

        function addNewFileInput() {
          if (current_index < MAX_PHOTOS_NUMBER) {
              current_index++;
              var newNode = fileInputTemplte.clone().prop({id: 'hsFileInput-' + current_index});
              newNode.fileinput('clear');
              newNode.style = 'display: block';
              newNode.appendTo('#hsGoodPhotoList');
          }
        }

      window.onload = function () {
        document.getElementById("id-hs-add-good").className += " active";

        //
        $(document).on('change.bs.fileinput', function (e) {
//            alert(e.target.id + 'is change');

            var filename = hsUploadPhoto123($(e.target));
            addNewFileInput();
        });

        $(document).on('clear.bs.fileinput', function (e) {
            alert(e.target.id + 'is clear');

            $(e.target).find(".hsUploadPhotoName")[0].value = '';
        });

        $(document).on('reset.bs.fileinput', function (e) {
            alert(e.target.id + 'is reset');
        });

      };

      function hsAddMorePhotoInput(self) {
          var newNode = $('<input type="file" name="photo_file" class="hsUploadPhotoInput">');
          newNode.insertBefore(self);
      }

      function test1() {
          alert($('.hsUploadPhotoInput')[0].files[0])
      }


       function hsUploadPhoto123(node) {

           var fileinput = node.find('.hsUploadPhotoInput')[0];
           var nameinput = node.find('.hsUploadPhotoName')[0];
           var mydata = new FormData();

           mydata.append('photo-file-0', fileinput.files[0]);
           mydata.append('_csrf_token_', "{{ csrf_token() }}");

           // It’s imperative that you set the contentType option to false,
           // forcing jQuery not to add a Content-Type header for you, otherwise,
           // the boundary string will be missing from it. Also,
           // you must leave the processData flag set to false, otherwise,
           // jQuery will try to convert your FormData into a string, which will fail.

           $.ajax({
               url: "{{ url_for('ajax.admin.upload_photo') }}",
               data: mydata,
               cache: false,
               contentType: false,
               processData: false,
               type: 'POST',
               success: function (data, textStatus) {
                   if (data.status != 0) {
                       alert(data.error);
                       return
                   }
                   nameinput.value = data.data.photos[0];
               }
           })
       }

      function hsAddNewCategory() {
          var p = prompt("输入新的类别：");
          if (p!=null && p!="") {
              $.post(
                "{{ url_for('ajax.admin.add_new_category') }}",
                { _csrf_token_: "{{ csrf_token() }}", name: p},
                function (data, textStatus) {
                    if (data.status != 0){
                        alert(data.error);
                        return
                    }
                    var firstratio = $(".cl-hs-category-ratios div:first-child").clone();
                    firstratio.children("label").children('input').attr('value', data.data.catalogid).attr('checked', true);
                    firstratio.children("label").children("span").text(data.data.name);

                    $(".cl-hs-category-ratio-addition-button").before(firstratio);

                }
              );
          }
      }

      // $("#addGoodForm").fadeOut("slow");
      function addGoodValidateForm() {
        if (!document.getElementById("inputName").value) {
            alert("输入名字！");
            return false;
        }

        if ($( "input:checked" ).length != 1) {
            alert("请选择一个类别！");
            return false;
        }

        if (!document.getElementById("inputPrice").value) {
            alert("输入价格！");
            return false;
        }

        var photonames = "";
        jQuery.each($('.hsUploadPhotoName'), function (index, item) {
          photonames = photonames + item.value + ','
        });

        if (!photonames) {
            return confirm("你没有上传任何图片，是否继续？");
        }

        document.getElementById("hsPhotoNames").value = photonames;

        return true;
      }

  </script>
  </body>
</html>

