<!DOCTYPE html>
<html lang="zh-cmn-hans">
  <head>
    {% include 'header.html' %}
  </head>
  <body>

    {% include 'admin/nav.html' %}

    <div class="container">

    {% for order in orders|sort(reverse=True, attribute='created_time') %}
    <div class="panel panel-default">
        <div class="panel-heading ">
        <div class="row">
            <div class="col-xs-4">{{ order.created_time.strftime('%Y-%m-%d %H:%M') }}</div>
            <div class="col-xs-1">单价</div>
            <div class="col-xs-1">送达地址</div>
            <div class="col-xs-1">总价</div>
            <div class="col-xs-5">订单状态</div>
        </div>
        </div>
        <div class="panel-body row">
            <div class="col-xs-4">
            {% for g in order.goodlist %}
            {% for idx in range(g.count) %}
                <div style="padding-bottom: 5px;">{{ g.name }}</div>
            {% endfor %}
            {% endfor %}
            </div>
            <div class="col-xs-1">
            {% for g in order.goodlist %}
            {% for idx in range(g.count) %}
                <div style="padding-bottom: 5px;">￥{{ g.price/1000 }}</div>
            {% endfor %}
            {% endfor %}
            </div>
            <div class="col-xs-1">{{ order.contact.address}}</div>
            <div class="col-xs-1">￥{{ order.bill/1000 }}</div>
            <div class="col-xs-5">
                <div class="hd-update-order-button-row" id="hd-order-status-{{ order.cartid }}" title="{{ order.current_status }}">
                    {% for i in [10, 20, 30, 40] %}
                    <button class="btn btn-success" name="{{ i }}" id="hd-order-status-{{ order.cartid }}-{{ i }}"
                            onclick="hoshopUpdateOrder(this, {{ order.cartid }},{{ i }});">
                        {{ order_status_mapping[i] }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="hd-new-orders" class="row alert alert-danger">
      <strong>注意：</strong>有
      <a href="{{ url_for('admin.list_orders') }}" class="alert-link">
          <span id="hd-new-orders-count">N/A</span>个新订单</a>！
      请刷新页面。
    </div>
  </div>

  {% include 'footer.html' %}
  <script>
    var refreshIntervalId = 0;
    var lastSyncCursor = "{{ forward_cursor }}";


    function hoshopColorizeOrderStatusButton(orderid, status) {
        var ordrestatus = document.getElementById("hd-order-status-" + orderid);
        for (var i=0; i < ordrestatus.childNodes.length; i++){
            var childbutton = ordrestatus.childNodes[i];
            if (childbutton.nodeName == "BUTTON") {
                if (childbutton.name > status) {
                    childbutton.className = childbutton.className.replace("btn-success", "btn-primary");
                    childbutton.className = childbutton.className.replace("btn-warning", "btn-primary");
                } else {
                    childbutton.className = childbutton.className.replace("btn-success", "btn-warning");
                    childbutton.className = childbutton.className.replace("btn-primary", "btn-warning");
                    childbutton.disabled = true;
                }
            }
        }
    }


    function hoshopUpdateOrder(btn, orderid, status) {
        $.post(
          "{{ url_for('ajax.cart.update_order') }}",
          {_csrf_token_: "{{ csrf_token() }}", orderid: orderid, status: status},
          function (data, textStatus) {
              if (data.status != 0) {
                  alert(data.error);
                  return;
              }

              hoshopColorizeOrderStatusButton(orderid, status);
          }
        );
    }

    function hoshopTitleScroller(text) {
        document.title = text;
        setTimeout(function () {
            hoshopTitleScroller(text.substr(1) + text.substr(0, 1));
        }, 300);
    }

    function hoshopShowNewOrderAlert(){
       document.getElementById("hd-new-orders").style.display = "block";
       var au = new Audio("{{ url_for('static', filename='sounds/popcorn.m4r') }}");
       au.play();
       hoshopTitleScroller(document.title + "【有新订单】");
    }

    function hoshopSyncOrders() {
        $.post(
            "{{ url_for('ajax.cart.sync_orders') }}",
            {_csrf_token_: "{{ csrf_token() }}", cursor: lastSyncCursor, asc: 1, limit: 10},
            function (data, textStatus){
                if (data.status != 0) {
                    alert(data.error);
                    return;
                }
                if (data.data.orders.length <= 0) {
                    return;
                }

                clearInterval(refreshIntervalId);

                lastSyncCursor = data.data.forward_cursor;

                var countNewOrders = document.getElementById("hd-new-orders-count");
                countNewOrders.innerHTML = data.data.orders.length;

                hoshopShowNewOrderAlert();

            }
        );
    }

    window.onload = function () {
        document.getElementById("id-hs-view-orders").className += " active";
        var msgbox = document.getElementById("hd-new-orders");
        msgbox.style.display = "none";

        refreshIntervalId = setInterval(hoshopSyncOrders, 10000);

        {% for o in orders %}
          hoshopColorizeOrderStatusButton({{ o.cartid }}, {{ o.current_status }});
        {% endfor %}

        //setTimeout("hoshopShowNewOrderAlert();", 2000);
    };
  </script>
  </body>
</html>

