<!DOCTYPE html>
<html lang="zh-cmn-hans">
  <head>
    {% include 'header.html' %}
  </head>
  <body>

    {% include 'admin/nav.html' %}

    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>商品名称</th>
                <th>商品价格</th>
                <th>商品库存</th>
                <th>商品描述</th>
                <th>暂停销售</th>
            </tr>
        </thead>
        <tbody>
        {% for c in catalogs %}
            <tr class="cl-hs-update-good-category"><td colspan="5">{{ c.name }}</td></tr>
            {% for g in goods %}
            {% if g.catalogid == c.catalogid %}
            <tr>
                <td>
                    <span class="cl-hs-good-editable" data-name="name" data-goodid="{{ g.goodid }}">
                        <span>{{ g.name }}</span>
                        <span class="label label-info cl-hs-good-editable-prompt">修改</span>
                    </span>
                </td>
                <td>￥<span class="cl-hs-good-editable" data-name="price" data-goodid="{{ g.goodid }}">
                        <span>{{ g.price/1000 }}</span>
                        <span class="label label-info cl-hs-good-editable-prompt">修改</span>
                </span>
                </td>
                <td><span class="cl-hs-good-editable" data-name="count_left" data-goodid="{{ g.goodid }}">
                        <span>{{ g.count_total - g.count_sold }}</span>
                        <span class="label label-info cl-hs-good-editable-prompt">修改</span>
                </span></td>
                <td><span class="cl-hs-good-editable" data-name="description" data-goodid="{{ g.goodid }}">
                        <span>{{ g.description }}</span>
                        <span class="label label-info cl-hs-good-editable-prompt">修改</span>
                </span></td>
                <td>
                    <button class="btn btn-danger" data-name="expired_time"
                            data-goodid="{{ g.goodid }}" onclick="hsDeleteGood(this);">X</button>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    </div>

  {% include 'footer.html' %}
  <script>
    function hsDeleteGood(btn) {
        $.post(
          "{{ url_for('ajax.admin.update_good') }}",
          { _csrf_token_ : "{{ csrf_token() }}", goodid: btn.getAttribute("data-goodid"),
            key: btn.getAttribute("data-name"), value: '2000-1-1'
          },
          function (data, textStatus) {
            if (data.status!=0) {
                alert("更新失败");
                return;
            }
            btn.parentNode.parentNode.style.display = 'none';
           }
        );
    }
    window.onload = function() {

        document.getElementById("id-hs-update-good").className += " active";

        var editables = document.getElementsByClassName('cl-hs-good-editable');
        for (var i=0; i<editables.length; i++) {
            var input = editables[i];
            $(input).bind('click', function() {
                var e = this;
                var name = e.childNodes[1];
                key = e.getAttribute("data-name");
                value = name.innerHTML;
                var p = prompt("输入新的值：", value);
                if (p!=null && p!=value) {
                    $.post(
                      "{{ url_for('ajax.admin.update_good') }}",
                      { _csrf_token_ : "{{ csrf_token() }}", goodid: this.getAttribute("data-goodid"),
                        key: key, value: p
                      },
                      function (data, textStatus) {
                        if (data.status!=0) {
                            alert("更新失败");
                            return;
                        }
                        name.innerHTML = p;
                       }
                    )
                }
            });
        }
    }
  </script>
  </body>
</html>

