<!DOCTYPE html>
<html lang="zh-cmn-hans">
  <head>
    {% include 'header.html' %}

    <link href="{{ url_for('static', filename='css/layout.css') }}" type="text/css" rel="stylesheet" />

  </head>
  <body>

    {% with title="商品详细" %}
    {% include 'shop/nav_back.html' %}
    {% endwith %}

    <div class="container">
        {% if photos %}
        <div>
            <article>
            <!--scroll-->
            <div class="scroll relative" style="margin-top: 3%;margin-bottom: 3%;">
                <div class="scroll_box" id="scroll_img">
                    <ul class="scroll_wrap">
                        {% for p in photos %}
                        <li><a href="#"><img src="{{ url_for('static.serve_static', name=p.path) }}" width="100%" /></a></li>
                        {% endfor %}
                    </ul>
                </div>
                <span class="scroll_position_bg opacity6"></span>
                <ul class="scroll_position" id='scroll_position'>
                    {% for i in range(photos.__len__()) %}
                        <li {% if i==0 %}class="on"{% endif%} ><a href="javascript:void(0);">{{ i+1 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!--scroll-->
            </article>
        </div>

        {% endif %}

        <div class="panel panel-info">
            <div class="panel-heading" style="font-size:17px">{{ good.name }}</div>
            <div class="panel-body">
                <p  style="font-size:16px">{{ good.description }}</p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-5 cl-hs-good-numberbar" id="id-hs-good-numberbar-{{ good.goodid }}">
                            <span class="btn btn-primary btn-sm" onclick="deleteFromCart(this, {{ good.goodid }})">—</span>
                            <span class="btn btn-default btn-sm" id="id-hs-good-number-{{ g.goodid }}" style="color: red;" disabled>
                            </span>
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-primary" onclick="addToCart(this, {{ good.goodid }})">点击加入购物车{{ decode_price(good.price) }}</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


    </div>


  {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/hhswipe.js') }}"></script>
  <script>
      var slider = Swipe(document.getElementById('scroll_img'), {
	auto: 3000,
	continuous: true,
	callback: function(pos) {
		var i = bullets.length;
		while (i--) {
			bullets[i].className = ' ';
		}
		bullets[pos].className = 'on';
	}
});
var bullets = document.getElementById('scroll_position').getElementsByTagName('li');
$(function(){
	$('.scroll_position_bg').css({
		width:$('#scroll_position').width()
	});
});

  </script>

  </body>
</html>

