<!DOCTYPE html>
<html lang="zh-cmn-hans">
  <head>
    {% include 'header.html' %}
  </head>
  <body class="body-with-cart">

    {% include 'shop/nav.html' %}

    <div class="container">

    {% for c in catalogs %}
        <div class="panel panel-info">
            <div class="panel-heading">
                {{ c.name }}
            </div>
            <ul class="list-group">
            {% for g in goods %}
            {% if g.catalogid == c.catalogid %}
            <li class="list-group-item">
            <div class="row">
                <div class="col-xs-4">{{ g.name }}
                    {% if g.count_total - g.count_sold < 10 %}
                    <span class="label label-danger label-xs">库存不足10</span>
                    {% endif %}
                </div>
                <div class="col-xs-4 cl-hs-good-numberbar" id="id-hs-good-numberbar-{{ g.goodid }}">
                    <span class="btn btn-primary" onclick="deleteFromCart(this, {{ g.goodid }})">—</span>
                    <span class="btn btn-default" id="id-hs-good-number-{{ g.goodid }}" style="color: red;" disabled>
                    </span>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary" onclick="addToCart(this, {{ g.goodid }})">￥{{ g.price/1000 }}</button>
                </div>
            </div>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% endfor %}

    </div>

    <div id="hd-cart" class="footer">
        <div class="container">
            <div class="row">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                <span id="hd-cart-count">N/A</span>件商品，共
                <span id="hd-cart-bill">N/A</span>元
                <button class="btn btn-warning"  id="hd-cart-submit"
                        onclick="document.location = '{{ url_for('shop.get_cart') }}'">去结算</button>
            </div>
        </div>
    </div>

  {% include 'footer.html' %}

  <script>
    function flushCart() {
        $.post(
          "{{ url_for('ajax.cart.get_cart') }}",
          {_csrf_token_: "{{ csrf_token() }}"},
          function (data, textStatus){

            if (data.status != 0) {
                alert(data.error);
                return;
            }

            var count = document.getElementById("hd-cart-count");
            var bill = document.getElementById("hd-cart-bill");
            var submitbutton = document.getElementById("hd-cart-submit");
            if (data.data.count > 0) {
                submitbutton.disabled = false;
                submitbutton.innerHTML = "去结算";
            } else {
                submitbutton.innerHTML = "还没买东西哦";
                submitbutton.disabled = true;
            }
            count.innerHTML = data.data.count;
            bill.innerHTML = data.data.bill/1000;

            var i;
            var bars = document.getElementsByClassName("cl-hs-good-numberbar");
            for (i=0; i<bars.length; i++)  {
                bars[i].style.visibility = 'hidden';

            }
            $.each(data.data.goodlist, function() {
                if (this.count < 1) {
                    return
                }
                var bar = document.getElementById("id-hs-good-numberbar-" + this.goodid);
                bar.style.visibility = 'visible';
                var num = document.getElementById("id-hs-good-number-" + this.goodid);
                num.innerHTML = this.count;
            });
      });
    }

    function addToCart(btn, goodid) {
        btn.disabled = true;
        var showModalTimeout = setTimeout(function() {
            hsShowWaitingModal(btn);
        }, 500);
        $.post(
          "{{ url_for('ajax.cart.add_good_to_cart') }}",
          {_csrf_token_: "{{ csrf_token() }}", goodid: goodid},
          function (data, textStatus){
            clearTimeout(showModalTimeout);
            hsHideWaitingModal(btn);
            if (data.status != 0) {
                alert(data.error);
                return;
            }
            flushCart();
      });
      btn.disabled = false;
    }

    function deleteFromCart(btn, goodid) {
        btn.disabled = true;
        var showModalTimeout = setTimeout(function() {
            hsShowWaitingModal(btn);
        }, 500);
        $.post(
          "{{ url_for('ajax.cart.delete_good_from_cart') }}",
          {_csrf_token_: "{{ csrf_token() }}", goodid: goodid},
          function (data, textStatus){
            clearTimeout(showModalTimeout);
            hsHideWaitingModal(btn);
            if (data.status != 0) {
                alert(data.error);
                return;
            }
            flushCart();
      });
      btn.disabled = false;
    }

    window.onload = function () {
        flushCart();
    };
  </script>
  </body>
</html>

