
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="ilcwd">
    <!--<link rel="shortcut icon" href="static/image/favicon.png">-->

    <title>Ho道</title>

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">
    <link rel="icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon">

    <!-- Bootstrap core CSS -->
    <!--<link href="/static/bootstrap.min.css" rel="stylesheet">-->

    <link href="//lib.sinaapp.com/js/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <style>
        #hd-cart {
            background-color:#AAA;
            position:fixed;
            bottom:0;
            width:100%;
        }
        #hd-cart-submit {
            float: right;
        }
        #hd-new-orders {
            position: fixed;
            top: 0;
            width: 100%;
        }
        .hd-horizontal-line {
            border: solid #666;
        }
        .hd-user-order:hover {
            background-color:#EEF;
        }

        .copyright {
          padding-top:18px;
          padding-bottom:18px;
          text-align:center;
          color:#999;
        }
    </style>

